/* You can add global styles to this file, and also import other style files */
/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: linear-gradient(180deg, #000000a4, #000000a4), url(./app/assets/folhas.jpg);
    --backgroundTela: linear-gradient(180deg, transparent, #000000a4), url(./app/assets/floresta.jpg);
    --backgroundNotFound: linear-gradient(180deg, transparent, #000000a4), url(./app/assets/404.jpg);
}

@media (max-width: 1200px) {
    :root {
        --background: linear-gradient(180deg, #000000a4, #000000a4), url(./app/assets/folhas1200x800.jpg);
        --backgroundTela: linear-gradient(180deg, transparent, #000000a4), url(./app/assets/floresta1200x800.jpg);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    width: 100vw;
    height: calc(100dvh - 70px);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* Button */
/*
<button class="button"> Button
</button>
*/
.button {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}
   
.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}
   
.button::before {
    top: -1em;
    left: -1em;
}
   
.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
   
.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}
   
.button:hover {
    color: rgb(10, 25, 30);
}
   
.button:active {
    filter: brightness(.8);
}

button:disabled {
    cursor: not-allowed;
    opacity: .5;
}