<app-container>
  <app-header></app-header>
  <body>
    <section>
      <div id="adicionar" [ngClass]="adicionarClass" (click)="gerarTela()">
        <mat-icon>add</mat-icon>
      </div>
      <aside *ngFor="let tela of telas">
        <nav class="aba">
          <h3 class="numero" (click)="voltarTela(tela.numero)">Tela <i class="valor">{{ tela.numero }}</i></h3>
          <div class="caixaFechar">
            <p class="fechar" (click)="fecharTela(tela.numero)">X</p>
          </div>
        </nav>
        <div class="tela">
          <mat-icon>{{tela.icone}}</mat-icon>
        </div>
      </aside>
      <mat-radio-group 
        [(ngModel)]="tema" name="tema" id="temas" 
        (change)="configurarTema()" 
        color="primary">
          <mat-radio-button value="claro">Claro</mat-radio-button>
          <mat-radio-button value="escuro">Escuro</mat-radio-button>
          <mat-radio-button value="classicAzul">Azul</mat-radio-button>
          <mat-radio-button value="classicRosa">Rosa</mat-radio-button>
      </mat-radio-group>      
    </section>
  </body>
</app-container>