div {
    position: relative;
    width: 100vw;
    height: 100dvh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.padrao {
    // background: linear-gradient(45deg, #0d0d0d, #1d1d1d);
    background: linear-gradient(45deg, var(--color1), var(--color2));
}

.tela {
    background: var(--backgroundTela);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.notFound {
    background: var(--backgroundNotFound);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}