<header>
    <nav>
      <ul>
        <li *ngFor="let item of header">
          <a routerLink="{{ item.rota }}" ngClass="{{ item.class }}">
            <mat-icon>
              {{ item.icon }}
            </mat-icon>
            {{ item.nome }}
          </a> 
        </li>
        <li class="temas">
          <mat-slide-toggle [(ngModel)]="temaClaro" (change)="configTema()">
            <p>
              Claro
            </p>
          </mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="temaColorido" (change)="configTema()">
            <p>
              Cor
            </p>
          </mat-slide-toggle>
        </li>
      </ul>
    </nav>
</header>