.corpoEstilo {
    position: relative;
    background: var(--backgroundTela);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    justify-content: center;
}

.tempo {
    display: flex;
    place-items: center;
    gap: 20px;
    color: transparent;
    letter-spacing: 15px;
    font-size: 30vw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #ddd;
    text-shadow: 0 0 10px #0003;
}

.tempo p {
    animation: ponto 2s infinite alternate linear;
}

@keyframes ponto {
    from {
        opacity: 0;
    }
}

.clima {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
    color: #fff;
}

.clima h1 {
    font-size: 3rem;
}