<app-container>
  <app-header></app-header>   
  <body>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <mat-button-toggle-group *ngIf="telas.length > 0" 
          class="buttonToggleBox"  
          name="telas" 
          [(ngModel)]="telaSelecionada" 
          multiple required aria-label="Font Style">
        <mat-button-toggle value="todas" (click)="toggleTodasTelas(true)">Todas</mat-button-toggle>
        <mat-button-toggle *ngFor="let tela of telas" value="{{tela.numero}}" (click)="toggleTodasTelas(false)">Tela {{tela.numero}}</mat-button-toggle>
      </mat-button-toggle-group>        
      <mat-button-toggle-group class="buttonToggleBox" name="tipo" [(ngModel)]="tipoSelecionado" required aria-label="Font Style">
        <mat-button-toggle value="relogio">Relógio</mat-button-toggle>
        <mat-button-toggle value="tempo">Tempo</mat-button-toggle>
      </mat-button-toggle-group>  

      <mat-form-field *ngIf="tipoSelecionado === 'tempo'">
        <mat-label>Tempo hh:mm</mat-label>
        <input matInput id="minutos" type="time" name="minutos" [(ngModel)]="minutos" required>
      </mat-form-field>
      <button class="button" type="submit" [disabled]="myForm.invalid">Enviar</button>
    </form>
  </body>
</app-container>