<div class="corpoEstilo">
  <header>
    <nav>
      <ul>
        <li *ngFor="let item of buscarHeader()">
          <a routerLink="{{item.rota}}" ngClass="{{item.class}}">
            <mat-icon>
              {{item.icon}}
            </mat-icon>
          </a> 
        </li>
      </ul>
    </nav>
  </header>    
  <body>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <mat-button-toggle-group *ngIf="telas.length > 0" class="buttonToggleBox"  name="telas" [(ngModel)]="telaSelecionada" multiple required aria-label="Font Style">
        <mat-button-toggle value="todas" (click)="toggleTodasTelas(true)">Todas</mat-button-toggle>
        <mat-button-toggle *ngFor="let tela of telas" value="{{tela.numero}}" (click)="toggleTodasTelas(false)">Tela {{tela.numero}}</mat-button-toggle>
      </mat-button-toggle-group>        
      <mat-button-toggle-group class="buttonToggleBox" name="tipo" [(ngModel)]="tipoSelecionado" required aria-label="Font Style">
        <mat-button-toggle value="relogio">Relógio</mat-button-toggle>
        <mat-button-toggle value="tempo">Tempo</mat-button-toggle>
      </mat-button-toggle-group>  

      <mat-form-field *ngIf="tipoSelecionado === 'tempo'">
        <mat-label>Tempo</mat-label>
        <input matInput id="minutos" type="time" placeholder="Ex. hh:mm" name="minutos" [(ngModel)]="minutos" required>
      </mat-form-field>
      <button class="button" type="submit" [disabled]="myForm.invalid">Enviar</button>
    </form>
  </body>
</div>