* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, transparent, #00000088), url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.vidro {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: transparent;
    backdrop-filter: brightness(90%) blur(5px);
}

.buttons {
    width: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "rel rel temp"
        "select file file"
        "play play play"
        "save save delete"
    ;
    grid-auto-rows: 70px;
    gap: 10px;
}

.btn {
    background: #ddd;
    height: 70px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    letter-spacing: 2px;
    font-weight: 700;
    border: none;
    box-shadow: 0 0 10px #00000050, 0 5px 5px #2274aaa6;
}
.btn:hover {
    background: #fff;
    opacity: .9;
}

#play {
    font-weight: 1000;
    letter-spacing: 2px;
    grid-area: play;
}

#save {
    font-weight: 1000;
    letter-spacing: 2px;
    grid-area: save;
    background: green;
    color: #fff;
    font-weight: 100;
}

#delete {
    font-weight: 1000;
    letter-spacing: 2px;
    grid-area: delete;
    background: tomato;
    font-weight: 100;
    color: #fff;
}

#labelFile {
    grid-area: file;
}

#select {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    grid-area: select;
}

#temporizador {
    grid-area: temp;
}

#relogio {
    grid-area: rel;
}
    
#letter {
    min-width: 40vw;
    min-height: 90vh;
    max-width: 40vw;
    max-height: 90vh;
    
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px #00000050;
    font-size: 1.2rem;
    outline: none;
    
    box-shadow: 0 0 10px #00000050;
}

#letter::-webkit-scrollbar-thumb {
    width: 6px;
}

#slide {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background: #0005;
    font-size: 7rem;
    text-shadow: 0 0 10px #0000004b;
    font-weight: 700;
    padding: 0 100px 0 100px;
    overflow: hidden;
}


@media (max-width: 500px) {   
    .vidro {
        display: grid;
    }

    #labelLink, #labelFile {
        width: 100%;
        height: 70px;
    }

    #letter {
        min-width: 90vw;
        min-height: 60vh;
        max-width: 90vw;
        max-height: 60vh;
    }
}

.hide {
    display: none !important;
}