<div class="corpoEstilo">
    <header>
      <nav>
        <ul>
          <li>
            <a class="logo" routerLink="/casa">Sonoplastia</a> 
          </li>
          <li>
            <a routerLink="./">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <body>
      <form>
        <div class="mydict">
          <div>
            <label>
              <input type="radio" name="tela" checked>
              <span>Todas</span>
            </label>
            <label>
              <input type="radio" name="tela">
              <span>Tela 1</span>
            </label>
            <label>
              <input type="radio" name="tela">
              <span>Tela 2</span>
            </label>
            <label>
              <input type="radio" name="tela">
              <span>Tela 3</span>
            </label>
          </div>
        </div>
        <div id="caixaTipo">
          <div class="mydict">
            <div>
              <label>
                <input type="radio" name="tipo" checked>
                <span>Relógio</span>
              </label>
              <label>
                <input type="radio" name="tipo">
                <span>Tempo</span>
              </label>
            </div>
          </div>

          <div class="inputGroup" *ngIf="meuForm.get('tipo')">
            <input type="number" min="0" id="minutos" name="minutos" required="" autocomplete="off">
            <label for="minutos">Minutos</label>
          </div>
        </div>
        <button class="button" type="submit">Salvar</button>
      </form>
    </body>
</div>